body {
    color: darkblue;
    text-align: center;
    background-color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mySlides {
    display: none;
}


nav {
    background-color: lightblue;
    margin: 0 auto;
    max-width: 400px;
}

nav ul {
	list-style-type: none;
}

nav a{
    display: block;
    color: darkblue;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    border-radius: 10px;
}

nav a:hover {
    color: lightblue;
	background-color: darkblue;
}

@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}

.hero-image {
    background-position: center;
    background-size: cover;
    position: relative;
    height: 50%;
}

.hero-image img{
    max-width: 100%;
    height: auto;
    display:flexbox;
    border-radius: 10px;
    animation: fade 2s;
}

.hero-text {
    size: 10vw;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}


.content{
    margin: auto;
    padding-bottom: 50px;
    
}

section {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    background-color: aliceblue;
    width: 200px;
    border-radius: 10px;
}


.divbox2 {
    vertical-align: top;
    height: max-content;
    width: 500px;
    text-align: left;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    background-color:aliceblue;
    margin: 1%;
}

.divbox {
    vertical-align: top;
    height: max-content;
    width: 400px;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    background-color: aliceblue;
    margin: 1%;
}

.divbox img {
    width: 200px;
    animation: fade 2s;
    margin: 5px;
    padding: 5px;
}

.divbox img :hover{
    width: 500px;
}

@keyframes fade {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 1;
    }
    
}

form {
    width: 200px;
}

label{
    display: block;
    margin: 5px;
}

textarea {
    resize: none;
    margin-bottom: 50px;
}

.grid img {
    width: 200px;
    height: 150px;
    animation: fade 2s;
}
