body {
    color: darkblue;
    text-align: center;
    background-color: rgb(230, 249, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav a{
    text-decoration: none;
}

.hero-image img{
    max-width: 100%;
    height: auto;
    display:flexbox;
    border-radius: 10px;
}


.content{
    margin: auto;
    padding-bottom: 50px;
    
}

section {
    display: flexbox;
    padding: 20px;
    margin: 10px;
}


.divbox2 {
    vertical-align: top;
    height: max-content;
    width: 500px;
    text-align: left;
    display: inline-block;
    padding: 20px;
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: 1%;
}

.divbox {
    vertical-align: top;
    height: max-content;
    width: 400px;
    display: inline-block;
    padding: 20px;
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: 1%;
}

.divbox img {
    width: 200px;
    animation: fade 2s;
    margin: 5px;
    padding: 5px;
}

.divbox img :hover{
    width: 500px;
}

@keyframes fade {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 1;
    }
    
}
